<div class="header">
  <a routerLink="" class="logo">
    <img width="220" src="assets/icons/Logo-ForceCovid19-extended.svg" />
  </a>
  
  <div class="herder-links">
    <div class="pages-links">
      <a routerLink="">
        <img width="220" src="assets/images/home.svg" />
        <div>Accueil</div>
      </a>
      <a routerLinkActive="active" routerLink="stocks">
        <img width="220" src="assets/images/stocks.svg" />
        <img class="active" width="220" src="assets/images/stocks-active.svg" />
        <div>Mon Stock</div>
      </a>
      <a routerLinkActive="active" routerLink="distributeurs">
        <img width="220" src="assets/images/antenna.svg" />
        <img class="active" width="220" src="assets/images/antenna-active.svg" />
        <div>Distributeurs</div>
      </a>
      <a routerLinkActive="active" routerLink="beneficiaires">
        <img width="220" src="assets/images/alias-numbers.svg" />
        <img class="active" width="220" src="assets/images/alias-numbers-active.svg" />
        <div>Bénéficiaires</div>
      </a>
      <a routerLinkActive="active" routerLink="statistics">
        <img width="220" src="assets/images/statistics.svg" />
        <img class="active" width="220" src="assets/images/stocks-active.svg" />
        <div>Statistiques</div>
      </a>
    </div>
    <div class="user">
      <a class="loggedout" routerLink="login" *ngIf="!logged">
        <img class="avatar" src="assets/images/avatar.png" />
        <div>Se connecter</div>
      </a>
      <a class="loggedin" href="#" (click)="toggleMenu()" *ngIf="logged">
        <img class="avatar" src="assets/images/avatar.png" />
        <div class="userinfos">
          <div class="name" *ngIf="user.firstName != undefined && user.lastName != undefined;">{{ (user.firstName + ' ' + user.lastName)  | titlecase }}</div>
          <div class="name" *ngIf="user.firstName == undefined || user.lastName == undefined;">{{ user.username | titlecase}}</div>
          <div class="role">{{ user.type | titlecase }} <span class="dropdown-caret ui-submenu-icon pi pi-fw pi-caret-down"></span></div>
          <div class="dropdown" *ngIf="showMenu">
            <a routerLink="/utilisateurs/{{ user.username }}/details" (click)="toggleMenu()">
              <span class="ui-menuitem-icon pi pi-user" >Mon profil</span>
            </a>
            <a href="#" (click)="logout()">
              <span class="ui-menuitem-icon pi pi-unlock" >Déconnexion</span>
            </a>
          </div>
        </div>
      </a>
      <a class="notif pi pi-bell" href="#" *ngIf="logged;"><span class="notif_badge">3</span></a>
    </div>
  </div>
</div>