<form #f="ngForm" (ngSubmit)="onSubmit()" class="form-wrapper">
    <div class="p-grid">
        <div class="p-col-12 txt-align-center">
            <button (click)="onPushLineAllocation()" class="button">
               <i class="pi pi-plus-circle"></i>
           </button>
         </div>
    </div>
    <div *ngFor="let lineAllocation of lineAllocations; let i=index"   class="p-grid">
      <div class="p-col-12 p-md-6 p-lg-4">
        <label class="form-label" for="">Produit</label>
      <p-dropdown [options]="biens" [(ngModel)]="lineAllocation.welfare" name="welfare-{{i}}"></p-dropdown>
      </div>
      <div class="p-col-12 p-md-6 p-lg-4">
        <label class="form-label" for="">Quantité</label>
        <input class="form-input" [required]="true" [(ngModel)]="lineAllocation.quantity" type="number" name="quantity-{{i}}">
      </div>
      <div class="p-col-12 p-md-6 p-lg-3">
        <label class="form-label" for="">Unité</label>
        <input class="form-input" [required]="true" [(ngModel)]="lineAllocation.welfare.category" type="text" name="welfare-category-{{i}}" readonly>
      </div>
      <div class="p-col-12 p-md-6 p-lg-1">
         <button (click)="onRemoveLineAllocation(i)" type="submit" class="button">
            <i class="pi pi-times-circle"></i>
        </button>
      </div>
    </div>

    <div class="p-grid">
        <div class="p-col-12 txt-align-center">
          <button pButton type="button" (click)="onDialogHide()" label="Retour" class="ui-button-raised ui-button-secondary"></button>
          <button type="submit" [disabled]="!f.valid" class="button bgColor-secondary">Enregistrer</button>
        </div>
      </div>
  </form>