<form #f="ngForm" (ngSubmit)="onSubmit()" class="form-wrapper">
    <div class="p-grid">
        <div class="p-col-12 pushAllocation">
            <button (click)="onPushAllocation()" class="button">
              <img width="220" src="assets/images/add.svg" />
           </button>
         </div>
    </div>
    <div *ngFor="let allocation of allocations; let i=index"   class="p-grid">
      <div class="p-col-11">
        <div class="p-grid">
          <div class="p-col-12 p-md-6 p-lg-4">
            <label class="form-label" for="">Produit</label>
            <div class="form-group">
              <p-dropdown [options]="subdivisions" [(ngModel)]="allocation.beneficiary" name="item1"></p-dropdown>
            </div>
          </div>
          <div class="p-col-12 p-md-6 p-lg-4">
            <label class="form-label" for="">Quantité</label>
            <div class="form-group">
              <p-dropdown [options]="subdivisions" [(ngModel)]="allocation.deliverer" name="item2"></p-dropdown>
            </div>
          </div>
          <div class="p-col-12 p-md-6 p-lg-4">
            <label class="form-label" for="">Unité</label>
            <div class="form-group">
              <p-dropdown [options]="subdivisions" [(ngModel)]="allocation.distributor" name="item3"></p-dropdown>
            </div>
          </div>
        </div>
      </div>
      <div class="p-col-12 p-md-6 p-lg-1">
         <button (click)="onRemoveAllocation(i)" type="submit" class="button">
            <i class="pi pi-times-circle"></i>
        </button>
      </div>
    </div>

    <div class="p-grid">
        <div class="p-col-12 action">
          <button pButton type="button" (click)="onDialogHide()" label="Retour" class="ui-button-raised ui-button-secondary"></button>
          <button type="submit" [disabled]="!f.valid" class="button bgColor-secondary">Enregistrer</button>
        </div>
      </div>
  </form>