<section class="page-section hero home container">
  <div class="hero-content">
    <h1 class="color-secondary">Du Stock pour les populations</h1>

    <div class="hero-image">
      <img src="/assets/images/hero-stocks.png" alt="">
    </div>
  </div>
</section>

<section class="page-section first">
  <div class="page-actions">
    <form action="" class="form-filter">
      <div class="form-group">
        <label for="" class="form-label">Nom Produit</label>
        <p-dropdown name="selectedCity1" [options]="cities1" [(ngModel)]="selectedCity1"></p-dropdown>
      </div>
      <div class="form-group">
        <label for="" class="form-label">Catégorie</label>
        <p-dropdown name="selectedCity2" [options]="cities2" [(ngModel)]="selectedCity2"></p-dropdown>
      </div>
      <button type="button" class="button bgColor-yellow">
        Filtrer
      </button>
    </form>
    <button (click)="showFormDialog()" type="button" class="button bgColor-primary">
      Ajouter un Produit
    </button>
  </div>
</section>

<section class="page-section">
  <div class="p-grid">
    <p-table #dt
      [columns]="cols" 
      [value]="listItems"
      selectionMode="multiple"
      [(selection)]="selectedItems"
      [loading]="loading"
      [totalRecords]="totalRecords"
      [paginator]="true"
      [rows]="searchCriteria.size"
      [responsive]="true"
      [lazy]="true"
      (onLazyLoad)="loadItemLazy($event)"
      [resizableColumns]="true">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
          <!-- <input type="text" pInputText size="50" placeholder="recherche" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto"> -->
          <input type="text" pInputText size="50" placeholder="recherche" [(ngModel)]="searchCriteria.searchKey"
            (input)="onSetSearchCriteria()" style="width:auto">
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
            <th> Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td>
              <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
          </td>
          <!--td *ngFor="let col of columns">
            <div *ngIf="col.type != 'date'">{{rowData[col.field]}}</div>
            <div *ngIf="col.type == 'date'">{{rowData[col.field] | date:'dd/MM/yyyy à HH:mm'}}</div>
          </td-->
          <!-- rework me to be dynamic -->
          <td>{{rowData.welfare.name}}</td>
          <td>{{rowData.welfare?.description}}</td>
          <td>{{rowData.welfare?.category}}</td>
          <td>{{rowData.welfare?.weight}}</td>
          <td>{{rowData.welfare?.unit}}</td>
          <td>{{rowData.quantity}}</td>
          <td>{{rowData.updated | date:'dd/MM/yyyy à HH:mm'}}</td>
          <td>
            <div class="table_actions">
              <div class="p-grid">
                <a class="detail" (click)="showDetailsDialog(rowData.id)" [routerLink]="" title="Details">
                  Voir Détails
                </a>
                <a class="maj add" (click)="showStockManagerFormDialog(rowData.id)" [routerLink]="" title="Modifier">
                  MAJ Quantité
                </a>
                <a class="maj edit" (click)="showFormDialog(rowData.id)" [routerLink]="" title="Modifier">
                  MA Produit
                </a>
                <!-- <a class="dropdown-item delete" (click)="removeItme(rowData.id)" title="Supprimer">
                  <i class="pi pi-trash"></i>
                </a> -->
              </div>

            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</section>


<p-dialog [header]="modalTitle" [(visible)]="displayDialog || displayDetailsDialog || displayStockManagerDialog" [modal]="true"
  [style]="{width: '60vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false" [closable]='false'>
  <app-from-stock [id]="selectedData" *ngIf="displayDialog" (displayChange)="onDialogHide($event)">
  </app-from-stock>
  <app-details-stock [id]="selectedData" *ngIf="displayDetailsDialog" (displayChange)="onDialogHide($event)">
  </app-details-stock>
  <app-stock-manager [id]="selectedData" *ngIf="displayStockManagerDialog" (displayChange)="onDialogHide($event)">
  </app-stock-manager>
</p-dialog>