<div class="form-wrapper detail">
  <div *ngIf="beneficiaire">
    <div>Nom : <strong>{{beneficiaire.firstName}} {{beneficiaire.lastName}}</strong></div>
    <div>Salaire mensuel : <strong>{{beneficiaire.monthlyIncome}}</strong></div>
    <div>Nbre d’enfants : <strong>{{beneficiaire.numberOfChildren}}</strong></div>
    <div>Nbre personnes agées : <strong>{{beneficiaire.numberOfPeopleInCharge}}</strong></div>
    <div>Contact : <strong>{{beneficiaire.mobileNumber}}</strong></div>
    <div>Subdivision : <strong>{{beneficiaire.subdivision}}</strong></div>
    <div>Adresse : <strong>{{beneficiaire.address}}</strong></div>
    <div>Coordonnées GPS : <strong>{{beneficiaire.latitude}} {{beneficiaire.longitude}}</strong></div>
  </div>
  <div *ngIf="allocations">
    <h2>Allocations: </h2>
    <div class="alloc" *ngFor="let alloc of allocations">{{alloc.welfare.name}} </div>
  </div>
  <p *ngIf="!allocations">Aucune Allocation n'a été faite</p>


  <div class="p-grid p-justify-end">
    <div class="p-col-12 action">
      <button pButton type="button" (click)="onDialogHide()" label="Retour"
        class="button ui-button-raised ui-button-secondary"></button>
    </div>
  </div>
</div>