
<form #f="ngForm" (ngSubmit)="onSubmit()" class="form-wrapper">
    <div *ngIf="stock"  class="p-grid">
      <div class="p-col-12 p-md-6 p-lg-6">
        <label class="form-label" for="">Quantité</label>
        <input class="form-input" [required]="true" [(ngModel)]="stock.quantity" type="number" name="quantity">
      </div>
      <div class="p-col-12 p-md-6 p-lg-6">
        <label class="form-label" for="">Utilisateur</label>
        <p-dropdown [options]="users" [(ngModel)]="stock.userId" name="userId"></p-dropdown>
      </div>
      <div class="p-col-12 p-md-6 p-lg-6">
        <label class="form-label" for="">Bien</label>
        <p-dropdown [options]="welfares" [(ngModel)]="stock.welfare" name="welfare"></p-dropdown>
      </div>
      <div class="p-col-12 txt-align-center">
        <button pButton type="button" (click)="onDialogHide()" label="Retour" class="ui-button-raised ui-button-secondary"></button>
        <button type="submit" [disabled]="!f.valid" class="button bgColor-secondary">Enregistrer</button>
      </div>
    </div>
  </form>