
<div class="form-wrapper detail">
  <div *ngIf="distributeur">
    <div>Adresse : <strong>{{distributeur.address}}</strong></div>
    <div>Zone geographique : <strong>{{distributeur.geographicalArea}}</strong></div>
    <div>Capacité de stockage : <strong>{{distributeur.storageCapacity}}</strong></div>
    <div>Manager : <strong>{{distributeur.manager}}</strong></div>
    
    <div>Coordonnées GPS : <strong>{{distributeur.latitude}} {{distributeur.longitude}}</strong></div>
  </div>

  <div class="p-grid p-justify-end">
    <div class="p-col-12 action">
      <button pButton type="button" (click)="onDialogHide()" label="Retour" class="button ui-button-raised ui-button-secondary"></button>
    </div>
  </div>
</div>