
<div class="form-wrapper">
    <div *ngIf="stock"  class="p-grid">
        <div class="p-col-12 p-md-6 p-lg-6">
            <label class="form-label" for="">Quantité</label>
            <span>{{stock.quantity}}</span>
        </div>
        <div class="p-col-12 p-md-6 p-lg-6">
            <label class="form-label" for="">Utilisateur</label>
            <span>{{stock.userId}}</span>
        </div>
        <div class="p-col-12 p-md-6 p-lg-6">
            <label class="form-label" for="">Bien</label>
            <span>{{stock.welfare}}</span>
        </div>
        <div class="p-col-12 p-md-6 p-lg-6">
            <label class="form-label" for="">Créer le</label>
            <span>{{stock.created}}</span>
        </div>
        <div class="p-col-12 p-md-6 p-lg-6">
            <label class="form-label" for="">Dernière modification</label>
            <span>{{stock.updated}}</span>
        </div>
    </div>
    <div class="p-grid p-justify-end">
      <div class="p-col-12 txt-align-center">
        <button pButton type="button" (click)="onDialogHide()" label="Retour" class="ui-button-raised ui-button-secondary"></button>
      </div>
    </div>
</div>