<div class="form-wrapper detail">
    <div *ngIf="stock">
      <div>Quantité : <strong>{{stock.quantity}}</strong></div>
      <div>Utilisateur : <strong>{{stock.userId}}</strong></div>
      <div>Bien : <strong>{{stock.welfare}}</strong></div>
      <div>Dernière modification : <strong>{{stock.updated}}</strong></div>      
    </div>
  
    <div class="p-grid p-justify-end">
      <div class="p-col-12 action">
        <button pButton type="button" (click)="onDialogHide()" label="Retour" class="button ui-button-raised ui-button-secondary"></button>
      </div>
    </div>
</div>